body {
    background-color:#2f89fc;
    font-family: 'Maven Pro', sans-serif;
}

header {
    width: 100%;
    height: 80px;;
}
 header nav {
     width: 90%;
     max-width: 1000px;
     margin: 20px auto;
     background: #ffa800;
 }

 .menu {
     display: none;
 }

 header nav ul{
     overflow:hidden;
     list-style: none;
 }

header nav ul li {
    float: left;
}

header nav ul li a {
    color: #edebe8;
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 13px;
}

header nav ul li i {
   margin-right: 5px;
}

header nav ul li a:hover {
    background: white;
}

.container-fluid {
    width: 100%; 
    padding: 1em; 
    margin-top: 40px;
}

.container-fluid .col-12 {
    width: 100%;
    height: 30%;
}
/* formulario */
.container-fluid form {
    margin-top:50px;
}

.container-fluid form button {
   width: 100%;
   height: 50px;
   text-align: center; 
   margin-top: 10px; 
   font-size: 20px;
   font-weight: inherit
}

.form-group button {
    background-color: #ffa800;
    color:white;
}

.form-control {
    color: #edebe8;
}

@media screen and (max-width:800px ){
    header nav {
        width: 70%;
        height: 100%;
        margin: 0;
        position: fixed;
        opacity: 0.9;
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255,255,255, .3)
    }

    .menu {
        display:block;
        width: 100%; 
        background: #2b007b;
    }
    .menu .bt-menu {
        display: block;
        padding: 10px;
        background: #2b007b;
        color: #edebe8;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu i {
        float: right;
        font-size: 30px;
    }
}